body{
    display: block flex;
    justify-content: center;
    align-content: center;
}

h2{
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

h3{
    display: inline;
}

.winningScore{
    margin: 1.5em 1em;
}

.container{
    text-align: center;
}